@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::selection
{
  background-color: transparent;
}

@media (max-width: 650px) {
    .bookmarks-main {
      flex-direction:column !important;
    }
    .search-bar {
        font-size: 20px !important;
        width: 90vw !important;
        margin-top: -50px !important;
    }
    .clock-text {
        visibility: hidden;
    }
    .bookmarks-display {
        width: 90vw !important;
    }
    .weather-display {
        visibility: hidden;
    }
   }

body {
    font-family: raleway;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #EFE9F4;
    color: #484D6D;
}
.main-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-bar {
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    font-family: 'Raleway';
    color: inherit;
    opacity: .8;
    text-align: center;
    width: inherit;
}
.search-bar:focus {
    outline: none;
}

.search-bar-box {
    border-bottom: 3px solid #484D6D;
    margin-bottom: 30px;
    width: 400px;
}

.bookmarks-main {
    display: flex;
    flex-direction: row;
}

.bookmarks-display {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 10px;
}

.bookmark-card {
    display: flex;
    border-radius: 3px;
    border-width: 1px;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 5px;
    min-height: 10000px;
}

.bookmarks-title {
    text-align: right;
    margin-right: 10px;
    text-transform: lowercase;
}

.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock-text {
    font-size: 100px;
    font-family: 'Jura';
}

.weather-display {
    display: flex;
    margin-top: -20px;
    margin-bottom: 20px;
    text-transform: lowercase;
    justify-content: right !important;
    font-family: Helvetica, sans-serif;

    color: white;
    background-color: #484D6D;
    text-transform: uppercase;
}

.toggle-buttons {
    margin-bottom: 30px;
}

.bookmarks-button {
    font-size: 10px;
    padding: 5px;
    border: 1px solid #484D6D;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.notes-button {
    font-size: 10px;
    padding: 5px;
    border: 1px solid #484D6D;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.plus-icon {
    color: #484d6da9;
    cursor: pointer;
}


.plus-icon:hover {
    color: #484d6d;
    cursor: pointer;
}

.input-note {
    background-color: #484d6d1c;
    border: none;
    font-family: 'Raleway';
    font-size: 17px;
    padding: 5px;
    text-align: center;
    color: #484D6D;
    border-bottom: 3px solid #484D6D;
    margin-top: 20px;

    width: 400px;
    height: 30px;
}

.input-note:focus {
    outline: none;
}

.note-content {
    font-family: 'Raleway';
    font-size: 15px;
    color: #484D6D;
    text-transform: none;
}

.input-note::selection
{
    background-color: #484D6D;
    color: #EFE9F4;
}

textarea {
    resize: none;
}

.note-item {
    font-size: 20px;
    list-style-type: none;
    margin-bottom: 10px;
    text-transform: none;
    cursor: pointer;
    max-width: 400px;
    background-color: #484d6d18;
    padding: 5px;
}

.note-item-completed {
    font-size: 20px;
    list-style-type: none;
    margin-bottom: 10px;
    text-transform: none;
    cursor: pointer;
    color: #484d6d5b;
    text-decoration: line-through 3px;
    font-style:italic;
    background-color: #484d6d18;
    max-width: 400px;
    padding: 5px;

}

.note-item:hover {
    text-decoration: line-through 3px;
    background-color: #484d6d39;
    font-style:italic;

}

.bookmark-button:hover {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

.notes-help {
    display: flex;
    justify-content: right;
    width: 20px;
}

.notes-help-tooltip {
    text-transform: none;
    font-size: 10px;
}

.tooltip-text {
    font-size: 10px;
    font-style: normal;
    font-family: helvetica;
}